.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #111827d7;
  height: 70px;
  backdrop-filter: blur(8px);
}

.navbar-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  padding: 0 24px;
}

.navbar-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 70%;
  will-change: filter;
  transition: filter 300ms;
}

.navbar-logo:hover {
  filter: drop-shadow(0 0 2em #22d3ee);
}

.navbar-logo a {
  background-color: unset !important;
  color: #22d3ee !important;
  text-decoration: none;
}

.navbar-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin-left: 30px;
}

.navbar-link {
  color: #c6c9d0;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.navbar-link:hover {
  color: #61dafb;
}

@media (max-width: 768px) { 
  .navbar-item {
   margin-left: 20px;
  }
 }